POSTGRES_DB=safe_ride_pro_qa
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
API_PORT=3001
WEB_PORT=3000
JWT_SECRET=qa-jwt-secret
EMAIL_VERIFICATION_TOKEN_TTL_MINUTES=30
WEB_APP_ORIGINS=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001/api
DEFAULT_INSTITUTION_NAME=Universidad Tecnica de Ambato
DEFAULT_INSTITUTION_CODE=UTA
DEFAULT_INSTITUTION_DOMAIN=uta.edu.ec
SUPER_ADMIN_EMAIL=admin@uta.edu.ec
SUPER_ADMIN_PASSWORD=Admin12345
SUPER_ADMIN_FULL_NAME=SafeRidePro Super Admin
SUPER_ADMIN_DOCUMENT_TYPE=NATIONAL_ID
SUPER_ADMIN_DOCUMENT_NUMBER=0000000000
